[Unit]
Description=ydotoold Service
Documentation=https://www.clash.org/
After=network.target nss-lookup.target

[Service]
User=jack
#CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
#AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=ydotoold
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
